.comment-wrapper {
  & > h2 {
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  .form-type {
    clear: both;
  }

  .form-type-item {
    overflow: hidden;

    label {
      float: left;
      display: inline-block;

      &:after {
        content: ':';
        float: right;
        display: inline-block;
        margin-right: 5px;
      }
    }
  }

  .submitted {
    background: none repeat scroll 0 0 #70cc50;
    color: #fff;
    margin-bottom: 5px;
    padding: 2px;
    width: 100%;
  }

  .links {
    float: right;

    a {
      color: #666;
      padding-bottom: 2px;
      text-transform: capitalize;
      font: 11px/11px Arial,sans-serif;
      border-bottom: 1px dotted transparent;

      &:hover {
        border-bottom: 1px dotted #666;
      }
    }
  }

  .user-picture {
    position: absolute;
    top: 0;

    img {
      padding: 4px;
      background: none repeat scroll 0 0 #fff;
      border: 1px solid #666;
      width: 50px;
      height: auto;
    }
  }

  .content {
    padding-left: 64px;
    padding-bottom: 7px;
  }
}

.comment-form {
  width: 100%;
  max-width: 550px;

  .username {
    font-family: $robotoSlabRegular;
    float: left;
    display: inline-block;
    text-transform: capitalize;
  }

  input[type='text'],
  textarea {
    width: 100%;
    box-sizing: border-box;
  }
}

.comment {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
  border-left: 1px solid #70cc50;

  .submitted {
    line-height: 15px;
    padding-left: 5px;

    a {
      border: none;
    }
  }

  .created {
    float: right;
    padding-right: 5px;
  }

  .new {
    display: inline-block;
    background: none repeat scroll 0 0 #70cc50;
    padding: 3px 5px 0;
    text-transform: capitalize;
    border-radius: 5px 5px 0 0;
    line-height: 17px;
  }

  &.withavatar {
    .submitted {
      padding-left: 56px;
    }
  }
}
