$firstColor: #363636;
$secondColor: #ffa500;
$hoverMenuBG: #fff;
$subMenuBG: #64b94a;

html, body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.region {
  padding: 10px;
}

.header {
  background: #232323;
  height: 50px;
}

#main.push {
  height: auto;
}

/*.page-top-1 > div {
  width: 100%;
}

.page-top-2 > div {
  width: 50%;
}

.page-top-3 > div {
  width: 33%;
}

.page-bottom-1 > div {
  width: 100%;
}

.page-bottom-2 > div {
  width: 50%;
}

.page-bottom-3 > div {
  width: 33%;
}

.page-bottom-4 > div {
  width: 25%;
}*/

.name-and-slogan {
  margin-left: 135px;
}

.region-page-top-first {
  background: #d3d3d3;
}

.region-page-top-second {
  background: indianred;
}

.region-page-top-third {
  background: olivedrab;
}

.region-sidebar-left {
  background: #f4ea71;
}

.region-sidebar-right {
  background: #aaccee;
}

.region-page-bottom-first {
  background: hotpink;
}

.region-page-bottom-second {
  background: palegreen;
}

.region-page-bottom-third {
  background: greenyellow;
}

.region-page-bottom-fourth {
  background: sandybrown;
}

ul.menu {
  margin: 0;
}

#content {
  clear: both;
}

.footer {
  background: $firstColor;

  .block > h2 {
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  p {
    color: #fff;
  }
}

/*.region-footer-first {
  background: orangered;
}

.region-footer-second {
  background: thistle;
}*/

/*---Brilliance Slider---*/

.brilliance-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1140px;
  max-height: 768px;
  li {
    width: auto;
    list-style: none;
    float: left;
    display: inline-block;
  }
  ul {
    display: block;
    height: auto;
    position: relative;
  }
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

.sliderButton {
  width: 64px;
  height: 64px;
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -32px;
  cursor: pointer;
  opacity: 0;
}

.prevButton {
  left: -30px;
  background: url("../img/slider_prev.png");
  transition: left 1s, opacity 1s;
}

.nextButton {
  right: -30px;
  background: url("../img/slider_next.png");
  transition: right 1s, opacity 1s;
}

.brilliance-slider:hover {
  .prevButton {
    left: 30px;
    opacity: 0.7;
  }
  .nextButton {
    right: 30px;
    opacity: 0.7;
  }
  .sliderButton:hover {
    opacity: 1;
  }
}

/*-----Forms-----*/
label {
  font-family: 'RobotoSlab Regular';
}
/*.form-type-textfield {
  float: none;

  label {
    display: inline-block;
    float: left;
    clear: both;
    height: 26px;
    line-height: 26px;
    position: relative;
    background: #000;
    color: #fff;
    padding-left: 7px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -15px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 13px 0 13px 15px;
      border-color: transparent transparent transparent #000;
    }
  }

  input {
    &[type="text"] {
      height: 20px;
      padding-left: 20px;
    }
  }
}*/

/*.ui-dialog {
  position: fixed;
}*/

.ui-widget-overlay {
  background: #000;
  opacity: 0.8;
}

.logo {
  position: absolute;
  left: 15px;
  display: block;
  width: 100px;
  height: 100px;
  //background: darkorange;
  padding: 5px;
  text-align: center;
  background: #ff0800; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZjA4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmY4YzAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  #ff0800 0%, #ff8c00 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ff0800), color-stop(100%,#ff8c00)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ff0800 0%,#ff8c00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ff0800 0%,#ff8c00 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ff0800 0%,#ff8c00 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ff0800 0%,#ff8c00 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0800', endColorstr='#ff8c00',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  z-index: 2;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
  }

  img {
    vertical-align: middle;
    max-width: 90px;
    max-height: 90px;
  }
}

.breadcrumb {
  display: table-row;
}

.messages {
  margin: 10px;
}

.socialSection {
  a {
    &::after {
      background: rgba(0, 0, 0, 0.8);
      border-radius: 8px 8px 8px 0px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
      color: #FFF;
      content: attr(data-tooltip); /* Главная часть кода, определяющая содержимое всплывающей подсказки */
      margin-top: -24px;
      opacity: 0; /* Наш элемент прозрачен... */
      padding: 3px 7px;
      position: absolute;
      visibility: hidden; /* ...и скрыт. */

      transition: all 0.4s ease-in-out; /* Добавить плавности по вкусу */
    }

    &:hover::after {
      opacity: 1; /* Показываем его */
      visibility: visible;
    }
  }
}
