form {
  //--background: $firstColor;
  border-radius: 4px;
  padding: 7px;

  p, ol, ul, div {
    font: normal 13px/1.3em Arial, Helvetica, sans-serif;
    //--color: $secondColor;
  }

  &#user-login-form {
    padding: 0;
    //--border: 3px solid $secondColor;
  }

  label {
    //--color: $secondColor;
    font-family: $defaultFontFamily;
    padding-bottom: 3px;
  }

  input[type='text'],
  input[type='file'],
  input[type='password'],
  textarea,
  select {
    outline: none;
    //--border: 3px solid $firstColor;
    padding: 5px;
    border-radius: 4px;
    transition: border-color 0.1s;
    //--color: $firstColor;

    &:focus {
      //--border: 3px solid $secondColor;
    }
  }

  input[type='file']{
    margin-right: 10px;
  }

  input[type='submit'] {
    padding: 4px 15px;
    border: none;
    background: #f3f3f3;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    //--color: $firstColor;

    &:hover {
      background: #ddd;
    }
  }

  div.password-suggestions {
    padding: 5px;
    //--border: 3px solid $secondColor;
    border-radius: 4px;
  }

  .ui-login & {
    .form-item,
    .item-list,
    .form-actions {
      margin: 13px auto 13px;
      width: 200px;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
    }

    li {
      margin: 0;
    }

    a {
      //--color: $secondColor;
      border-bottom: 1px solid transparent;

      &:hover {
        //--border-bottom: 1px dotted $secondColor;
      }
    }

    .form-actions {
      margin-bottom: 16px;
    }

    input[type="submit"] {
      width: 100%;
    }
  }

  /*fieldset {
    margin: .5em 0;

    &.collapsed {
      min-height: 20px;
      border-bottom-width: 0;
    }

    &.collapsible {
      border:1px solid $secondColor;
      border-radius: 4px;
    }

    legend {
      width: 100%;
      background-color: $secondColor;
      font: 16px/20px normal $robotoMedium;
      border-radius: 4px;
    }

    .fieldset-legend,
    .fieldset-title {
      display: inline-block;
      width: 100%;
      color: $firstColor;
    }

    .fieldset-wrapper {
      padding: 5px;
    }
  }*/
}