$bpTablet: 768px;
$bpDesktop: 1025px;

.navigation {
  ul {
    li {
      ul {
        display: none;
      }
    }
  }
}

@include breakpoint ($bpTablet) {
  .region-sidebar-left, .region-sidebar-right {
    width: 25%;
  }
  .page-top-wrapper, .center-wrapper, .page-bottom-wrapper {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  .page-top-wrapper .region, .center-wrapper .region, .page-bottom-wrapper .region {
    display: table-cell;
  }
  footer {
    .section {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
    .region {
      display: table-cell;
    }
  }

  .header {
    &.fixed {
      position: fixed;
      width: 100%;
      z-index: 1;
    }
  }

  .navigation {
    width: 100%;
    max-width: 1140px;

    ul {
      li {
        position: relative;
        display: inline-block;

        ul {
          position: absolute;
          top: 32px;
          left: 0;
          display: none;
          opacity: 0;
          visibility: hidden;
          z-index: 1;
        }

        &:hover {

          ul {
            display: block;
            opacity: 1;
            visibility: visible;

            ul {
              display: none;
              opacity: 0;
              visibility: hidden;
              @include transition(opacity 0.3s);
            }
          }
        }

        &:hover {

          ul {
            display: block;
            opacity: 1;
            visibility: visible;

            ul {
              display: none;
              opacity: 0;
              visibility: hidden;
              @include transition(opacity 0.3s);
            }
          }
        }
      }

      ul {
        ul {
          left: 100%;
          top: 0;
        }

        .expanded {
          &:hover {
            ul {
              display: block;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

@include breakpoint ($bpDesktop) {
  #page {
    display: table;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    table-layout: fixed;
  }
  #main {
    display: table-row;
  }
  #footer {
    display: table-row;
    height: 1px;
  }
  .header.fixed {
    max-width: 1140px;
  }
}
