.region-navigation {
  padding: 0;
  @include transition(margin-left 0.2s);

  @include breakpoint ($bpTablet) {
    margin-left: 115px;
  }
}

.navigation {
  display: none;
  position: absolute;
  top: 0;
  //--border-bottom: solid 4px $secondColor;
  z-index: 2;
  //--background: $firstColor;
  opacity: 0;
  @include transition(opacityl 0.3s);

  ul {
    li {
      padding: 0;
      margin: 0;
      list-style: none;

      a {
        display: block;
        padding: 8px 20px;
        font-size: 15px;
        font-family: 'Roboto Medium', Arial, sans-serif;
        white-space: nowrap;
        text-decoration: none;
        //--background: $firstColor;
        //--color: $hoverMenuBG;
        @include transition(all 0.2s);
      }

      ul {
        display: none;
        padding: 0;
        //--background: $subMenuBG;
        @include transition(opacity 0.3s);

        li {
          display: block;

          a {
            padding-left: 40px;

            &:before {
              content: '-';
              margin-right: 5px;
            }
          }
        }

        ul {
          a {
            padding-left: 60px;

            &:before {
              content: '--';
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  .expanded {
    & > a {
      &:after {
        display: inline-block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        //--border-color: transparent transparent transparent $hoverMenuBG;
        margin-left: 7px;
        @include transition(all 0.2s);
      }

      &:hover,
      &.activeUl {
        &:after {
          //--border-color: transparent transparent transparent $firstColor;
          transform: rotate(90deg);
        }
      }
    }

    .expanded {
      display: block;
    }
  }

  .activeUl {
    //--background: $hoverMenuBG;
    //--color: $firstColor;
  }

  @include breakpoint ($bpTablet) {
    width: 100%;
    display: block;
    opacity: 1;
    position: static;

    ul {
      li {
        margin: 0 -4px 0 0;
        position: relative;
        display: inline-block;

        a {
          &:hover,
          &.activeUl {
            //--background: $hoverMenuBG;
            //--color: $firstColor;

            & + ul {
              display: block;
              opacity: 1;
              visibility: visible;

              ul {
                display: none;
                opacity: 0;
                visibility: hidden;
                @include transition(opacity 0.3s);
              }
            }
          }

          &:before {
            display: none;
          }
        }

        ul {
          position: absolute;
          top: 32px;
          left: 0;
          display: none;
          opacity: 0;
          visibility: hidden;
          z-index: 100;

          li {
            a {
              padding-left: 20px;
            }
          }
        }
      }

      ul {
        ul {
          left: 100%;
          top: 0;
        }

        .expanded {
          &:hover {
            ul {
              display: block;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }

    .expanded {
      display: inline-block;

      .expanded {
        & > a {
          &:after {
            transform: rotate(90deg);
          }

          &:hover,
          &.activeUl {
            &:after {
              transform: rotate(0deg);
            }
          }
        }
      }
    }
  }

  .homelink {
    width: 32px;
    height: 32px;
    display: none;
    text-indent: -9999px;
    float: left;
    //--@include brilliance-sprite(home, $iconsOrange, $icons2xOrange);
    opacity: 0;
    @include transition(opacity 0.2s);
  }

  &.fixedNav {
    position: fixed;
    top: 0;
    z-index: 2;

    .region-navigation {
      margin-left: 0;
    }

    .homelink {
      display: inline-block;
      opacity: 1;
    }
  }

  &.active {
    display: block;
    margin-top: 50px;
    width: 100%;
    opacity: 1;
  }
}

.social-section {
  padding: 10px;
  height: 52px;
  text-align: center;

  .item-list {
    display: inline-block;

    ul {
      height: 32px;

      li {
        margin: 0 10px 0 0;
        @include transition(all 0.1s);

        &.last {
          margin-right: 0;
        }

        &:hover {
          height:42px;
          margin-top: -10px;
        }
      }
    }
  }

  li {
    display: inline-block;
    float: left;
  }

  a {
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
  }

  @include breakpoint ($bpTablet) {
    text-align: inherit;
  }
}

/*.facebook-icon {
  @include brilliance-sprite(facebook-icon, $iconsOrange, $icons2xOrange);
}

.twitter-icon {
  @include brilliance-sprite(twitter-icon, $iconsOrange, $icons2xOrange);
}

.youtube-icon {
  @include brilliance-sprite(youtube-icon, $iconsOrange, $icons2xOrange);
}

.googleplus-icon {
  @include brilliance-sprite(googleplus-icon, $iconsOrange, $icons2xOrange);
}

.pinterest-icon {
  @include brilliance-sprite(pinterest-icon, $iconsOrange, $icons2xOrange);
}

.linkedin-icon {
  @include brilliance-sprite(linkedin-icon, $iconsOrange, $icons2xOrange);
}

.instagram-icon {
  @include brilliance-sprite(instagram-icon, $iconsOrange, $icons2xOrange);
}*/
