# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
.idea/*
.idea
sites/all/themes/brilliance/.sass-cache
sites/all/themes/brilliance/.sass-cache/*
#Ignore SASS/Compass cache files
.sass-cache
*.css.map
