@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000313}}
.header {
  background: #6fcc50;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000318}}
table th {
  background-color: #6fcc50;
  color: #ffec00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000323}}
table a {
  color: #6fcc50;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000330}}
.item-list .pager .pager-item {
  background-color: #ffec00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000333}}
.item-list .pager .pager-item a {
  color: #6fcc50;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000338}}
.item-list .pager .pager-current {
  background-color: #6fcc50;
  color: #ffec00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000345}}
form {
  background: #6fcc50;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000348}}
form p, form ol, form ul, form div {
  color: #ffec00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000352}}
form#user-login-form {
  border: 3px solid #ffec00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000356}}
form label {
  color: #ffec00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000360}}
form input[type='text'],
form input[type='file'],
form input[type='password'],
form textarea,
form select {
  border: 3px solid #6fcc50;
  color: #6fcc50;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000368}}
form input[type='text']:focus,
form input[type='file']:focus,
form input[type='password']:focus,
form textarea:focus,
form select:focus {
  border: 3px solid #ffec00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000373}}
form input[type='submit'] {
  color: #6fcc50;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000377}}
form div.password-suggestions {
  border: 3px solid #ffec00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000382}}
.ui-login form a {
  color: #ffec00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000385}}
.ui-login form a:hover {
  border-bottom: 1px dotted #ffec00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000392}}
.navigation {
  border-bottom: solid 4px #ffec00;
  background: #68bf4c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\0000398}}
.navigation ul li a {
  color: #fff;
  background: #68bf4c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003102}}
.navigation ul li a:hover {
  background: #64b94a;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003109}}
.navigation ul li ul {
  background: #64b94a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003112}}
.navigation ul li ul a {
  background: #64b94a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003115}}
.navigation ul li ul a:hover {
  background: #68bf4c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003125}}
.navigation .expanded > a:after {
  border-color: transparent transparent transparent #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003131}}
.navigation .expanded > a:hover:after, .navigation .expanded > a.activeUl:after {
  border-color: transparent transparent transparent #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003138}}
.navigation .activeUl {
  background: #64b94a;
  color: #6fcc50;
}
@media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003147}}
  .navigation ul li a:hover, .navigation ul li a.activeUl {
    background: #68bf4c;
    color: #fff;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003157}}
.navigation .homelink {
  height: 32px;
  width: 32px;
  background-image: url('../img/sprite/icons-green-s8c6320a4f1.png');
  background-position: 0 -120px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_sprites\.scss}line{font-family:\0000336}}
  .navigation .homelink {
    background-image: url('../img/sprite/icons2x-green-s713b3a111f.png');
    background-position: 0 -120px;
    -moz-background-size: 32px, auto;
    -o-background-size: 32px, auto;
    -webkit-background-size: 32px, auto;
    background-size: 32px, auto;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003163}}
.comment-wrapper .submitted {
  background: none repeat scroll 0 0 #6fcc50;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003168}}
.comment {
  border-left: 1px solid #6fcc50;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003171}}
.comment .new {
  background: none repeat scroll 0 0 #6fcc50;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003176}}
.footer {
  background: #6fcc50;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003180}}
a {
  color: #ffec00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003184}}
.facebook-icon {
  height: 32px;
  width: 32px;
  background-image: url('../img/sprite/icons-green-s8c6320a4f1.png');
  background-position: 0 -34px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_sprites\.scss}line{font-family:\0000336}}
  .facebook-icon {
    background-image: url('../img/sprite/icons2x-green-s713b3a111f.png');
    background-position: 0 -34px;
    -moz-background-size: 32px, auto;
    -o-background-size: 32px, auto;
    -webkit-background-size: 32px, auto;
    background-size: 32px, auto;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003188}}
.twitter-icon {
  height: 32px;
  width: 32px;
  background-image: url('../img/sprite/icons-green-s8c6320a4f1.png');
  background-position: 0 -394px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_sprites\.scss}line{font-family:\0000336}}
  .twitter-icon {
    background-image: url('../img/sprite/icons2x-green-s713b3a111f.png');
    background-position: 0 -382px;
    -moz-background-size: 32px, auto;
    -o-background-size: 32px, auto;
    -webkit-background-size: 32px, auto;
    background-size: 32px, auto;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003192}}
.youtube-icon {
  height: 32px;
  width: 32px;
  background-image: url('../img/sprite/icons-green-s8c6320a4f1.png');
  background-position: 0 -426px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_sprites\.scss}line{font-family:\0000336}}
  .youtube-icon {
    background-image: url('../img/sprite/icons2x-green-s713b3a111f.png');
    background-position: 0 -414px;
    -moz-background-size: 32px, auto;
    -o-background-size: 32px, auto;
    -webkit-background-size: 32px, auto;
    background-size: 32px, auto;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003196}}
.googleplus-icon {
  height: 32px;
  width: 32px;
  background-image: url('../img/sprite/icons-green-s8c6320a4f1.png');
  background-position: 0 -88px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_sprites\.scss}line{font-family:\0000336}}
  .googleplus-icon {
    background-image: url('../img/sprite/icons2x-green-s713b3a111f.png');
    background-position: 0 -88px;
    -moz-background-size: 32px, auto;
    -o-background-size: 32px, auto;
    -webkit-background-size: 32px, auto;
    background-size: 32px, auto;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003200}}
.pinterest-icon {
  height: 32px;
  width: 32px;
  background-image: url('../img/sprite/icons-green-s8c6320a4f1.png');
  background-position: 0 -318px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_sprites\.scss}line{font-family:\0000336}}
  .pinterest-icon {
    background-image: url('../img/sprite/icons2x-green-s713b3a111f.png');
    background-position: 0 -306px;
    -moz-background-size: 32px, auto;
    -o-background-size: 32px, auto;
    -webkit-background-size: 32px, auto;
    background-size: 32px, auto;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003204}}
.linkedin-icon {
  height: 32px;
  width: 32px;
  background-image: url('../img/sprite/icons-green-s8c6320a4f1.png');
  background-position: 0 -206px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_sprites\.scss}line{font-family:\0000336}}
  .linkedin-icon {
    background-image: url('../img/sprite/icons2x-green-s713b3a111f.png');
    background-position: 0 -194px;
    -moz-background-size: 32px, auto;
    -o-background-size: 32px, auto;
    -webkit-background-size: 32px, auto;
    background-size: 32px, auto;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003208}}
.instagram-icon {
  height: 32px;
  width: 32px;
  background-image: url('../img/sprite/icons-green-s8c6320a4f1.png');
  background-position: 0 -152px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_sprites\.scss}line{font-family:\0000336}}
  .instagram-icon {
    background-image: url('../img/sprite/icons2x-green-s713b3a111f.png');
    background-position: 0 -140px;
    -moz-background-size: 32px, auto;
    -o-background-size: 32px, auto;
    -webkit-background-size: 32px, auto;
    background-size: 32px, auto;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003212}}
.user-login {
  height: 34px;
  width: 28px;
  background-image: url('../img/sprite/icons-green-s8c6320a4f1.png');
  background-position: 0 -238px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_sprites\.scss}line{font-family:\0000336}}
  .user-login {
    background-image: url('../img/sprite/icons2x-green-s713b3a111f.png');
    background-position: 0 -226px;
    -moz-background-size: 32px, auto;
    -o-background-size: 32px, auto;
    -webkit-background-size: 32px, auto;
    background-size: 32px, auto;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/green\.scss}line{font-family:\00003216}}
.mobileMenuButton {
  height: 24px;
  width: 30px;
  background-image: url('../img/sprite/icons-green-s8c6320a4f1.png');
  background-position: 0 -272px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_sprites\.scss}line{font-family:\0000336}}
  .mobileMenuButton {
    background-image: url('../img/sprite/icons2x-green-s713b3a111f.png');
    background-position: 0 -260px;
    -moz-background-size: 32px, auto;
    -o-background-size: 32px, auto;
    -webkit-background-size: 32px, auto;
    background-size: 32px, auto;
  }
}
