html, body {
  height: 100%;
  margin: 0;
}

#page {
  display: table;
  height: 100%;
}

.header {
  background: palevioletred;
}

.header.fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
}

#main {
  display: table-row;
  height: 1px;
}

#main.push {
  height: auto;
}

#footer {
  background: teal;
  display: table-row;
  height: 1px;
}

.page-top-wrapper {
  width: 100%;
  display: table;
}

.page-top-wrapper > div {
  display: table-cell;
  padding: 10px;
}

.page-top-1 > div {
  width: 100%;
}

.page-top-2 > div {
  width: 50%;
}

.page-top-3 > div {
  width: 33%;
}

.region-page-top-first {
  background: #d3d3d3;
}

.region-page-top-second {
  background: indianred;
}

.region-page-top-third {
  background: olivedrab;
}

.navigation li {
  display: inline-block;
  float: left;
}

.navigation li a {
  text-decoration: none;
}
