@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\000035}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\000031}}
html, body {
  height: 100%;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\000036}}
.region {
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\0000310}}
.header {
  background: palevioletred;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\0000314}}
#main.push {
  height: auto;
}

/*.page-top-1 > div {
  width: 100%;
}

.page-top-2 > div {
  width: 50%;
}

.page-top-3 > div {
  width: 33%;
}

.page-bottom-1 > div {
  width: 100%;
}

.page-bottom-2 > div {
  width: 50%;
}

.page-bottom-3 > div {
  width: 33%;
}

.page-bottom-4 > div {
  width: 25%;
}*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\0000346}}
.region-page-top-first {
  background: #d3d3d3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\0000350}}
.region-page-top-second {
  background: indianred;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\0000354}}
.region-page-top-third {
  background: olivedrab;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\0000358}}
.region-sidebar-left {
  background: #f4ea71;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\0000362}}
.region-sidebar-right {
  background: #aaccee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\0000366}}
.region-page-bottom-first {
  background: hotpink;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\0000370}}
.region-page-bottom-second {
  background: palegreen;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\0000374}}
.region-page-bottom-third {
  background: greenyellow;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\0000378}}
.region-page-bottom-fourth {
  background: sandybrown;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\0000382}}
ul.menu {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\0000386}}
#content {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\0000390}}
.region-footer-first {
  background: orangered;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\0000394}}
.region-footer-second {
  background: thistle;
}

/*---Brilliance Slider---*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003100}}
.brilliance-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1140px;
  max-height: 768px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003106}}
.brilliance-slider li {
  width: auto;
  list-style: none;
  float: left;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003112}}
.brilliance-slider ul {
  display: block;
  height: auto;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003117}}
.brilliance-slider img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003124}}
.sliderButton {
  width: 64px;
  height: 64px;
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -32px;
  cursor: pointer;
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003135}}
.prevButton {
  left: -30px;
  background: url("../img/slider_prev.png");
  transition: left 1s, opacity 1s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003141}}
.nextButton {
  right: -30px;
  background: url("../img/slider_next.png");
  transition: right 1s, opacity 1s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003148}}
.brilliance-slider:hover .prevButton {
  left: 30px;
  opacity: 0.7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003152}}
.brilliance-slider:hover .nextButton {
  right: 30px;
  opacity: 0.7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003156}}
.brilliance-slider:hover .sliderButton:hover {
  opacity: 1;
}

/*-----Typography-----*/
@font-face {
  font-family: 'RobotoSlab Regular';
  src: url("../fonts/roboto-slab-regular/RobotoSlab-Regular.eot");
  src: url("../fonts/roboto-slab-regular/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab-regular/RobotoSlab-Regular.woff2") format("woff2"), url("../fonts/roboto-slab-regular/RobotoSlab-Regular.woff") format("woff"), url("../fonts/roboto-slab-regular/RobotoSlab-Regular.ttf") format("truetype"), url("../fonts/roboto-slab-regular/RobotoSlab-Regular.svg#svgFontName") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoSlab Bold';
  src: url("../fonts/roboto-slab-bold/RobotoSlab-Bold.eot");
  src: url("../fonts/roboto-slab-bold/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab-bold/RobotoSlab-Bold.woff2") format("woff2"), url("../fonts/roboto-slab-bold/RobotoSlab-Bold.woff") format("woff"), url("../fonts/roboto-slab-bold/RobotoSlab-Bold.ttf") format("truetype"), url("../fonts/roboto-slab-bold/RobotoSlab-Bold.svg#svgFontName") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Medium';
  src: url("../../fonts/roboto-medium/roboto-medium.eot");
  src: url("../fonts/roboto-medium/roboto-medium.eot") format("embedded-opentype"), url("../fonts/roboto-medium/roboto-medium.woff2") format("woff2"), url("../fonts/roboto-medium/roboto-medium.woff") format("woff"), url("../fonts/roboto-medium/roboto-medium.ttf") format("truetype"), url("../fonts/roboto-medium/roboto-medium.svg#RobotoMedium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003199}}
p, ol, ul, div {
  font: normal 13px/1.3em Arial, Helvetica, sans-serif;
  color: #2d2e2e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003204}}
h1, h2, h3, h4, h5 {
  font-family: 'RobotoSlab Bold', Times, serif;
  color: #2d2e2e;
  line-height: 1.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003210}}
h1 {
  font-size: 32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003214}}
h2 {
  font-size: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003218}}
h3 {
  font-size: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003222}}
h4 {
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003226}}
h5 {
  font-size: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003231}}
.block > h1, .block > h2, .block > h3, .block > h4, .block > h5, .block > h1 a, .block > h2 a, .block > h3 a, .block > h4 a, .block > h5 a {
  font: normal 16px/1.5em 'RobotoSlab Bold', Times, serif;
  color: #2d2e2e;
  border-bottom: 1px #2d2e2e solid;
  padding-bottom: 3px;
  margin-bottom: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003240}}
a {
  color: violet;
}

/*-----Menu Styles-----*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003245}}
.region-navigation {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003248}}
.navigation {
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003251}}
.navigation ul {
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003254}}
.navigation ul li {
  margin: 0 -4px 0 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003258}}
.navigation ul li a {
  display: block;
  padding: 8px 20px;
  font-size: 15px;
  font-family: 'Roboto Medium', Arial, sans-serif;
  white-space: nowrap;
  text-decoration: none;
  background: #fff;
  color: #000;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003269}}
.navigation ul li a:hover {
  background: #000;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003275}}
.navigation ul li ul {
  padding: 0;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003279}}
.navigation ul li ul li {
  display: block;
}

/*-----Forms-----*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_design\.scss}line{font-family:\00003288}}
label {
  font-family: 'RobotoSlab Regular';
}

/*.form-type-textfield {
  float: none;

  label {
    display: inline-block;
    float: left;
    clear: both;
    height: 26px;
    line-height: 26px;
    position: relative;
    background: #000;
    color: #fff;
    padding-left: 7px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -15px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 13px 0 13px 15px;
      border-color: transparent transparent transparent #000;
    }
  }

  input {
    &[type="text"] {
      height: 20px;
      padding-left: 20px;
    }
  }
}*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\000037}}
.navigation ul li ul {
  display: none;
}

@media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\0000315}}
  .region-sidebar-left, .region-sidebar-right {
    width: 25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\0000318}}
  .page-top-wrapper, .center-wrapper, .page-bottom-wrapper {
    width: 100%;
    display: table;
    table-layout: fixed;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\0000323}}
  .page-top-wrapper .region, .center-wrapper .region, .page-bottom-wrapper .region {
    display: table-cell;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\0000327}}
  footer .section {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\0000332}}
  footer .region {
    display: table-cell;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\0000338}}
  .header.fixed {
    position: fixed;
    width: 100%;
    z-index: 1;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\0000345}}
  .navigation {
    width: 100%;
    max-width: 1140px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\0000350}}
  .navigation ul li {
    position: relative;
    display: inline-block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\0000354}}
  .navigation ul li ul {
    position: absolute;
    top: 32px;
    left: 0;
    display: none;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\0000366}}
  .navigation ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\0000371}}
  .navigation ul li:hover ul ul {
    display: none;
    opacity: 0;
    visibility: hidden;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\0000382}}
  .navigation ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\0000387}}
  .navigation ul li:hover ul ul {
    display: none;
    opacity: 0;
    visibility: hidden;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\0000398}}
  .navigation ul ul ul {
    left: 100%;
    top: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\00003105}}
  .navigation ul ul .expanded:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
@media (min-width: 1025px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\00003118}}
  #page {
    display: table;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    table-layout: fixed;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\00003126}}
  #main {
    display: table-row;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\00003129}}
  #footer {
    display: table-row;
    height: 1px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/OpenServer\/domains\/brilliance\/sites\/all\/themes\/brilliance\/scss\/parts\/_media\.scss}line{font-family:\00003133}}
  .header.fixed {
    max-width: 1140px;
  }
}
