@import 'breakpoint';
@import 'compass/utilities/sprites';
@import 'parts/sprites';
@import 'compass/css3/background-size';

$firstColor: #6fcc50;
$secondColor: #ffec00;
$hoverMenuBG: #64b94a;
$subMenuBG: #68bf4c;
$bpTablet: 768px;
$bpDesktop: 1025px;

.header {
  background: $firstColor;
}

table {
  th {
    background-color: $firstColor;
    color: $secondColor;
  }

  a {
    color: $firstColor;
  }
}

.item-list {
  .pager {
    .pager-item {
      background-color: $secondColor;

      a {
        color: $firstColor;
      }
    }

    .pager-current {
      background-color: $firstColor;
      color: $secondColor;
    }
  }
}

form {
  background: $firstColor;

  p, ol, ul, div {
    color: $secondColor;
  }

  &#user-login-form {
    border: 3px solid $secondColor;
  }

  label {
    color: $secondColor;
  }

  input[type='text'],
  input[type='file'],
  input[type='password'],
  textarea,
  select {
    border: 3px solid $firstColor;
    color: $firstColor;

    &:focus {
      border: 3px solid $secondColor;
    }
  }

  input[type='submit'] {
    color: $firstColor;
  }

  div.password-suggestions {
    border: 3px solid $secondColor;
  }

  .ui-login & {
    a {
      color: $secondColor;

      &:hover {
        border-bottom: 1px dotted $secondColor;
      }
    }
  }
}

.navigation {
  border-bottom: solid 4px $secondColor;
  background: $subMenuBG;

  ul {
    li {
      a {
        color: #fff;
        background: $subMenuBG;

        &:hover {
          background: $hoverMenuBG;
          color: #fff;
        }

      }

      ul {
        background: $hoverMenuBG;

        a {
          background: $hoverMenuBG;

          &:hover {
            background: $subMenuBG;
          }
        }
      }
    }
  }

  .expanded {
    & > a {
      &:after {
        border-color: transparent transparent transparent #fff;
      }

      &:hover,
      &.activeUl {
        &:after {
          border-color: transparent transparent transparent #fff;
        }
      }
    }
  }

  .activeUl {
    background: $hoverMenuBG;
    color: $firstColor;
  }

  @include breakpoint ($bpTablet) {
    ul {
      li {
        a {
          &:hover,
          &.activeUl {
            background: $subMenuBG;
            color: #fff;
          }
        }
      }
    }
  }

  .homelink {
    @include brilliance-sprite(home, $iconsGreen, $icons2xGreen);
  }
}

.comment-wrapper {
  .submitted {
    background: none repeat scroll 0 0 $firstColor;
  }
}

.comment {
  border-left: 1px solid $firstColor;

  .new {
    background: none repeat scroll 0 0 $firstColor;
  }
}

.footer {
  background: $firstColor;
}

a {
  color: $secondColor;
}

.facebook-icon {
  @include brilliance-sprite(facebook-icon, $iconsGreen, $icons2xGreen);
}

.twitter-icon {
  @include brilliance-sprite(twitter-icon, $iconsGreen, $icons2xGreen);
}

.youtube-icon {
  @include brilliance-sprite(youtube-icon, $iconsGreen, $icons2xGreen);
}

.googleplus-icon {
  @include brilliance-sprite(googleplus-icon, $iconsGreen, $icons2xGreen);
}

.pinterest-icon {
  @include brilliance-sprite(pinterest-icon, $iconsGreen, $icons2xGreen);
}

.linkedin-icon {
  @include brilliance-sprite(linkedin-icon, $iconsGreen, $icons2xGreen);
}

.instagram-icon {
  @include brilliance-sprite(instagram-icon, $iconsGreen, $icons2xGreen);
}

.user-login {
  @include brilliance-sprite(login, $iconsGreen, $icons2xGreen);
}

.mobileMenuButton {
  @include brilliance-sprite(mobile-menu-button, $iconsGreen, $icons2xGreen);
}
